@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background: #bdc3c7;  /* fallback for old browsers */
    background:  #a8a3a3b9; 
    overflow-x: hidden;
    width: 100vw;
}
.bg-cut{
    position: absolute;
    width: 40%;
    height: 380%;
    opacity: 0.2;
    background-color: #008B75;
    left: 45%;
    transform: skewX(150deg);
    z-index: -2;
}

.wave{
    position: absolute;
    top: 55%;
   
}
.header{
    height: 100vh;
    width: 100vw;
    .navbar{
        display: flex;
        justify-content: flex-end;
        z-index: -2;
        padding: 0 4rem;
        .nav__links{
        
            padding: 4rem 4rem;
            .nav-link{
                display: inline-block;
                padding-left: 6rem;
                text-transform: uppercase;
                list-style: none;
                a{
                    text-decoration: none;
                    color: white;
                    font-size: 1.6rem;
                    transition: all 0.3s ease 0s;
                }
                a:hover{
                    color: #0088a9;

                }
            } 
            .cta{
                display: inline-block;
                padding-left: 6rem;
                button{
                    background-color: rgba(0,136,169, 1);
                    padding: 0.6rem 1.2rem;
                    border: none;
                    border-radius: 50px;
                    cursor: pointer;
                    font-size: 1.6rem;
                    color: white;
                    transition: all 0.3s ease 0s;
                }
                button:hover{
                    background-color: rgba(0,136,169, 0.6);
                }
            } 
        }
    }
    #arrow-down{
        a{
            border: solid black;
            display: inline-block;
            border-width: 0 4px 4px 0;
            padding :40px;
            transform: rotate(45deg);
            margin-left: 50%;
            margin-top: 10%;
            cursor: pointer;
            transition: transform 0.3s ease 0s;
        }
        :hover{
            transform: rotate(45deg) scale(1.2);
            
        }
    }
     
}


section.introduction {
    letter-spacing: 0.1rem;
    line-height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12rem 4rem 0 18rem;
    h2{
        font-weight: 400;
        font-size: 1.5rem;
    }
    h1{
        font-size: 3rem;
        font-weight: 500;
    }

}

.social{
    display: flex;
    justify-content: flex-start;
    padding: 2rem 18rem;
    list-style: none;

    .linkedin{
        opacity: 1;
        transition: opacity 0.3s ease 0s;
        background-image: url('/img/linkedin.svg');
        img{
            height: 40px;
            width: 40px;  
        }
    }
    .linkedin:hover{
        opacity: 0.75;
    }
}



#about-me{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    .about-box{
        border-left: 2px solid black;
        border-right: 2px solid black;
        padding: 2rem 4rem;
        h1{
            font-weight: 200;
            font-size: 2rem;
        }
    }
    p{
        font-size: 1.5rem;
        line-height: 1.7;
        padding: 2rem;
        width: 40%;
    }

}

#skills{
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    .html{
        height: 40%;
    }
    .javascript{
        height: 40%;
    }
    .css{
        height: 40%;
    }
    .scss{
        height: 40%; 
    }
    .figma{
        height: 40%;
    }
}

#projects{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        text-transform: uppercase;
        font-weight: 200;
        font-size: 1.6rem;
        padding: 1rem;
    }
    .card-container{
        position: relative;
        height: 400px;
        width: 350px;
        .card{
            position: absolute;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transition: all 0.5s ease;
            box-shadow: 0px 0px 21px 11px rgba(0,0,0,0.25);
            text-align: center;
            .front{
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                background: rgba(255,255,255, 1);
                color: #333;
                background-image: url('/img/logga.png');
                background-repeat: no-repeat;
                background-size: 330px 200px;
                background-position: center;

            }
            .back{
                position: absolute;
                width: 100%;
                height: 100%;
                background: #fff;
                backface-visibility: hidden;
                color: #333;
                transform: rotateY(180deg);
                p{
                    margin-top: 8rem;
                }
            }
        &:hover{
            transform: rotateY(180deg);
        }
        }
    }
}
img{
    position: relative;
    transform: scale(0.5);

}
#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 70vh;
    form{
        padding: 2rem;
        .input-fields{
            display: flex;
            flex-direction: column;
            input[type=text]{
                background-color: #fff;
                padding: .8rem 1.4rem;
                margin: 0.5rem;
                border: none; 
                width: 20%;
                border-radius: 4px;
            }
            textarea{
                border: none;
                width: 20%;
                height: 5rem;
                border-radius: 4px;
                margin: 0.5rem;
            }
       }
       button{
           background-color: rgba(0,136,169, 1);
           cursor: pointer;
           padding: 1rem;
           width: 20%;
           border: none;
           border-radius: 50px;
           color: white;
           font-size: 1.6rem;
       }
    }
}

@media screen and (max-width: 768px){
    *{
        padding: 0;
        margin: 0; 
    }
    body{
        margin:0;
        padding: 0 !important;

    }
    html{
        overflow-x: hidden;
    }
    .bg-cut{
        display: none;
    }

    .header{
        height: 60vh;
        text-align: center;
        padding: 8rem 0;
        
        .navbar{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
            padding: 0 !important;
            .nav__links{
                display: flex;
                flex-direction: column;
                
                padding: 2rem 0 !important;
                .nav-link{
                    padding:0 !important;
                }
            .cta{
                padding: 0 !important;
            }
            }
            
        }
    
        section.introduction{
            width: 100%;
            padding: 0;
            text-align: center;
            h2{
                font-size: 1rem;
            }
            h1{
                font-size: 1.5rem;
            }
            h3{
                text-align: center;
                font-size: 1rem;
            }
        }

        #arrow-down{
            display: none;
        }
    }
    #about-me{
        height: 70vh;
        padding: 0 !important;
        .about-box{
            padding: 0 !important;
            border: none;
            h1{
                font-size: 1rem;
            }
        }
        p{
            width: 60%;
            padding: 0;
            font-size: .8rem;
        }
    }
    #skills{
        height: 30vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        .html{
            height: 30%;
        }
        .javascript{
            height: 30%;
        }
        .css{
            height: 30%;
        }
        .scss{
            height: 30%; 
        }
        .figma{
            height: 30%;
        }
    }
    #projects{
        .card-container{
            height: 200px; 
            width: 150px;
            .card{
                .front{
                    background-size: 100px 80px; 
                }
                .back{
                    text-align: center;
                    p{
                        margin-top: 1rem;
                        font-size: 0.8rem;
                        text-align: center;
                    }
                }
            }
        }
    }
    #contact{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 70vh;
        form{
            padding: 2rem;
            .input-fields{
                display: flex;
                flex-direction: column;
                input[type=text]{
                    background-color: #fff;
                    padding: .8rem 1.4rem;
                    margin: 0.5rem;
                    border: none; 
                    width: 50%;
                    border-radius: 4px;
                }
                textarea{
                    border: none;
                    width: 50%;
                    height: 5rem;
                    border-radius: 4px;
                    margin: 0.5rem;
                }
           }
           button{
               background-color: rgba(0,136,169, 1);
               cursor: pointer;
               padding: 1rem;
               width: 50%;
               border: none;
               border-radius: 50px;
               color: white;
               font-size: 1.6rem;
           }
        }
    }
}

