@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background: #bdc3c7;  /* fallback for old browsers */
    background:  #a8a3a3b9; 
    overflow-x: hidden;
    width: 100vw;
}
.bg-cut{
    position: absolute;
    width: 40%;
    height: 270%;
    opacity: 0.2;
    background-color: #008B75;
    left: 45%;
    transform: skewX(150deg);
    z-index: -2;
}

.wave{
    position: absolute;
    top: 55%;
   
}
.header{
    height: 100vh;
    width: 100vw;
    .navbar{
        display: flex;
        justify-content: flex-end;
        z-index: -2;
        padding: 0 4rem;
        .nav__links{
        
            padding: 4rem 4rem;
            .nav-link{
                display: inline-block;
                padding-left: 6rem;
                text-transform: uppercase;
                list-style: none;
                a{
                    text-decoration: none;
                    color: white;
                    font-size: 1.6rem;
                    transition: all 0.3s ease 0s;
                }
                a:hover{
                    color: #0088a9;

                }
            } 
            .cta{
                display: inline-block;
                padding-left: 6rem;
                button{
                    background-color: rgba(0,136,169, 1);
                    padding: 0.6rem 1.2rem;
                    border: none;
                    border-radius: 50px;
                    cursor: pointer;
                    font-size: 1.6rem;
                    color: white;
                    transition: all 0.3s ease 0s;
                }
                button:hover{
                    background-color: rgba(0,136,169, 0.6);
                }
            } 
        }
    }
    #arrow-down{
        a{
            border: solid black;
            display: inline-block;
            border-width: 0 2px 2px 0;
            padding :20px;
            transform: rotate(45deg);
            margin-left: 50%;
            margin-top: 10%;
            cursor: pointer;
            transition: transform 0.3s ease 0s;
        }
        :hover{
            transform: rotate(45deg) scale(1.2);
            
        }
    }
     
    


}


section.introduction {
    letter-spacing: 0.1rem;
    line-height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8rem 4rem 0 18rem;
    h2{
        font-weight: 400;
        font-size: 1.5rem;
    }
    h1{
        font-size: 3rem;
        font-weight: 500;
    }

}

.social{
    display: flex;
    justify-content: flex-start;
    padding: 2rem 18rem;
    list-style: none;

    .linkedin{
        opacity: 1;
        transition: opacity 0.3s ease 0s;
        img{
            height: 40px;
            width: 40px;  
        }
    }
    .linkedin:hover{
        opacity: 0.75;
    }
}



#about-me{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    .about-box{
        border-left: 2px solid black;
        border-right: 2px solid black;
        padding: 2rem 4rem;
        h1{
            font-weight: 200;
        }
    }
    p{
        line-height: 1.7;
        padding: 2rem;
        width: 40%;
    }

}

#skills{
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    .html{
        height: 70%;
    }
    .javascript{
        height: 70%;
    }
    .css{
        height: 70%;
    }
    .scss{
        height: 70%; 
    }
    .figma{
        height: 70%;
    }
}

#projects{
    height: 50vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        text-transform: uppercase;
        font-weight: 200;
        font-size: 1.6rem;
        padding: 1rem;
    }
    .wastgotarna{
        display: block;
        height: 300px;
        width: 220px;
        padding: 2rem;
       // outline: 1px solid red;
    }

}

#contact{
    display: flex;
    justify-content: center;
    form{
        padding: 2rem;
        .input-fields{
            display: flex;
            flex-direction: column;
            input[type=text]{
                background-color: #fff;
                padding: .8rem 1.4rem;
                margin: 0.5rem;
                border: none; 
                width: 100%;
            }
            textarea{
                border: none;
                width: 100%;
                
                margin: 0.5rem;
            }
       }
       button{
           display: block;
           background-color: rgba(0,136,169, 1);
           cursor: pointer;
           padding: 1rem;
           width: 110%;
           border: none;
           border-radius: 50px;
           color: white;
           font-size: 1.6rem;
       }
    }

}

  

