@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #bdc3c7;
  /* fallback for old browsers */
  background: #a8a3a3b9;
  overflow-x: hidden;
  width: 100vw;
}

.bg-cut {
  position: absolute;
  width: 40%;
  height: 270%;
  opacity: 0.2;
  background-color: #008B75;
  left: 45%;
  -webkit-transform: skewX(150deg);
          transform: skewX(150deg);
  z-index: -2;
}

.wave {
  position: absolute;
  top: 55%;
}

.header {
  height: 100vh;
  width: 100vw;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: -2;
  padding: 0 4rem;
}

.header .navbar .nav__links {
  padding: 4rem 4rem;
}

.header .navbar .nav__links .nav-link {
  display: inline-block;
  padding-left: 6rem;
  text-transform: uppercase;
  list-style: none;
}

.header .navbar .nav__links .nav-link a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header .navbar .nav__links .nav-link a:hover {
  color: #0088a9;
}

.header .navbar .nav__links .cta {
  display: inline-block;
  padding-left: 6rem;
}

.header .navbar .nav__links .cta button {
  background-color: #0088a9;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.6rem;
  color: white;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header .navbar .nav__links .cta button:hover {
  background-color: rgba(0, 136, 169, 0.6);
}

.header #arrow-down a {
  border: solid black;
  display: inline-block;
  border-width: 0 4px 4px 0;
  padding: 40px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: 50%;
  margin-top: 10%;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.header #arrow-down :hover {
  -webkit-transform: rotate(45deg) scale(1.2);
          transform: rotate(45deg) scale(1.2);
}

section.introduction {
  letter-spacing: 0.1rem;
  line-height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12rem 4rem 0 18rem;
}

section.introduction h2 {
  font-weight: 400;
  font-size: 1.5rem;
}

section.introduction h1 {
  font-size: 3rem;
  font-weight: 500;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 2rem 18rem;
  list-style: none;
}

.social .linkedin {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  background-image: url("/img/linkedin.svg");
}

.social .linkedin img {
  height: 40px;
  width: 40px;
}

.social .linkedin:hover {
  opacity: 0.75;
}

#about-me {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#about-me .about-box {
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 2rem 4rem;
}

#about-me .about-box h1 {
  font-weight: 200;
  font-size: 2rem;
}

#about-me p {
  font-size: 1.5rem;
  line-height: 1.7;
  padding: 2rem;
  width: 40%;
}

#skills {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

#skills .html {
  height: 40%;
}

#skills .javascript {
  height: 40%;
}

#skills .css {
  height: 40%;
}

#skills .scss {
  height: 40%;
}

#skills .figma {
  height: 40%;
}

#projects {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects h1 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.6rem;
  padding: 1rem;
}

#projects .card-container {
  position: relative;
  height: 400px;
  width: 350px;
}

#projects .card-container .card {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0px 0px 21px 11px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 21px 11px rgba(0, 0, 0, 0.25);
  text-align: center;
}

#projects .card-container .card .front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: white;
  color: #333;
  background-image: url("/img/logga.png");
  background-repeat: no-repeat;
  background-size: 330px 200px;
  background-position: center;
}

#projects .card-container .card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  color: #333;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#projects .card-container .card .back p {
  margin-top: 8rem;
}

#projects .card-container .card:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

img {
  position: relative;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 70vh;
}

#contact form {
  padding: 2rem;
}

#contact form .input-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact form .input-fields input[type=text] {
  background-color: #fff;
  padding: .8rem 1.4rem;
  margin: 0.5rem;
  border: none;
  width: 20%;
  border-radius: 4px;
}

#contact form .input-fields textarea {
  border: none;
  width: 20%;
  height: 5rem;
  border-radius: 4px;
  margin: 0.5rem;
}

#contact form button {
  background-color: #0088a9;
  cursor: pointer;
  padding: 1rem;
  width: 20%;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
  * {
    padding: 0;
    margin: 0;
  }
  body {
    margin: 0;
    padding: 0 !important;
  }
  html {
    overflow-x: hidden;
  }
  .bg-cut {
    display: none;
  }
  .header {
    height: 100vh;
    text-align: center;
    padding: 4rem 0;
  }
  .header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    padding: 0 !important;
  }
  .header .navbar .nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 0 !important;
  }
  .header .navbar .nav__links .nav-link {
    padding: 0 !important;
  }
  .header .navbar .nav__links .cta {
    padding: 0 !important;
  }
  .header section.introduction {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .header section.introduction h2 {
    font-size: 1rem;
  }
  .header section.introduction h1 {
    font-size: 1.5rem;
  }
  .header section.introduction h3 {
    text-align: center;
    font-size: 1rem;
  }
  .header .social .linkedin {
    background-image: url("/img/linkedin.svg");
  }
  .header #arrow-down {
    margin-right: 7rem;
  }
  #about-me {
    height: 100vh;
  }
  #about-me p {
    width: 80%;
    padding: 0;
  }
  #skills {
    height: 30vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  #skills .html {
    height: 30%;
  }
  #skills .javascript {
    height: 30%;
  }
  #skills .css {
    height: 30%;
  }
  #skills .scss {
    height: 30%;
  }
  #skills .figma {
    height: 30%;
  }
}
/*# sourceMappingURL=main.css.map */